PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE Member_INFORMATION(
ID REAL NULL,
Name TEXT NULL,
Hobby TEXT NULL,
Grade TEXT NULL,
Auth TEXT NULL);
INSERT INTO Member_INFORMATION VALUES(1.0,'Ahn','Baseball','A','Y');
COMMIT;
